.tweet{
    clear: both;
    padding-top: 5px;
    padding-bottom: 5px;
}

.individual-tweet{
    margin-left: 15px;
}

.approve-btn{
    float: right;
    margin-top: 10px;
    vertical-align: center;
}