#tweets {
    height: 1px;
    left: 0px;
    overflow: visible;
    position: absolute;
    top: 50%;
    width: 100%;
}
#tweets .tweet {
    background: red;
    height: 400px;
    left: 50%;
    margin-left: -35%;
    position: absolute;
    top: -200px;
    visibility: visible;
    width: 70%;
}
#tweets .tweet .approved-tweet {
    height: 100%;
}
#tweets .tweet img {
    display: none;
}
#tweets .tweet .approved-information {
    display: block;
    font-size: 7em;
    line-height: 1.2em;
}
#tweets .tweet .user {
    color: blue;
}
#tweets .tweet .user:before { 
    content:"@";
}

