.tweet{
    clear: both;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    width: 100%;
}

.individual-tweet{
    margin-left: 15px;
}

.approve-btn{
    float: right;
    margin-top: 10px;
    vertical-align: center;
}

#approved-tweets{
   padding-left: 20px;
   float: left;
   width: 45%;
}

#tweets{
    width: 45%;
    float: left;
}