<html>
<meta charset="UTF-16">
<head><script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="js/append.js"></script>

<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />

</head>
<body>
This my admin page!!
<div id="search-bar">
<input type="text" id="hashtag-to-search" /><button id="hashtag-submit">Submit</button>
</div>
<div style="position:relative;">
<div id="tweets">

</div>

<div id="approved-tweets" class="pull-left">

</div>
</div>
</body>


<script type="text/javascript">
var socket = io.connect();

socket.on('seed-messages', function(message){
appendTweets(message);
});

socket.on('new-tweets', function(message){
appendTweets(message);
});

socket.on('approved', function(message){
console.log("into this??");
appendApproved(message, $("#approved-tweets"));
});
</script>

<script type="text/javascript">
	var currentHashtag = "";
	$("#hashtag-submit").click(function(){
	var hashtagToSearch = $("#hashtag-to-search").val();
	if(hashtagToSearch !== currentHashtag && hashtagToSearch !== ""){
	currentHashtag = hashtagToSearch;
	socket.emit('subscribe', {'hashtag':currentHashtag});
	}
	});

	$('#tweets').on('click', '.approve-btn', function(){
	var parent = $(this).parent('.tweet');
	var image = parent.find('.left-image > img').attr('src');
	var username = parent.find('.user').text();
	var tweet = parent.find('.tweet-content').text();
	var approvedTweet =  {'tweet': tweet,
	'username': username,
	'image': image
	};
	socket.emit('approve', approvedTweet);
	appendApproved(approvedTweet,  $("#approved-tweets"));
	});
</script>

</html>
