<!DOCTYPE html>
<html lang="en">
    <title>
        Tweets!
    </title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/append.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">

<link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet" />
<link type="text/css" href="/css/bootstrap-responsive.min.css" rel="stylesheet" />
<link type="text/css" href="/css/style.css" rel="stylesheet" />
</head>
<body>
    <img src="/img/twitter-bird.png" alt="test" />
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12" id="tweets"></div>
  </div>
</div>
<script type="text/javascript">
    var socket = io.connect();
    var socketTest = io.connect('/indexSocket'); 
    socket.emit('get-cache');
    
    socket.on('cached-tweets', function(message) {});
 
    socket.on('approved', function(message) {
        displayTweets(message);
    });
</script>
</body>
</html>
